<!DOCTYPE html>
<html>
  <head>
    <title>Blog Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- title %></h1>
    <p><%- body %></p>
    <br>
    <p>Date created: <%= created %></p>
    <p>Last modified: <%= modified %></p>
  </body>
</html>
